.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 14px 44px;
	background-color: transparent;
	color: var(--color-dark-3xl);
	border: 1px solid transparent;
	border-radius: 100px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: all .3s ease 0s;
	letter-spacing: 0.06em;
	font-weight: var(--fw-400);
	line-height: 130%;
	font-size: var(--fz-17);

	&_default {
		background-color: var(--color-primary);
		border: 1px solid var(--color-primary);
	}

	&_donation {
		font-size: var(--fz-20);
		line-height: 115%;
		color: var(--color-dark-l);
		padding: 10px 15px 10px 60px;
		background-color: var(--color-primary);
		border: 0;
		border-radius: 9px;
	}

	&_light {
		padding: 13px 43px;
		background-color: var(--color-light-s);
		border: 2px solid var(--color-primary);
	}

	&_default:hover, 
	&_donation:hover {
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-light);
	} 
}

.nav-btn {
	position: relative;
	display: inline-block;
	height: 52px;
	width: 52px;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border: 2px solid var(--color-primary);
	border-radius: 100%;
	font-weight: var(--fw-400);
	font-size: var(--fz-20);
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: all .3s ease 0s;
	
	&:not([disabled]):hover {
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-light);
	}
	svg,
	span {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&_page {
		background-color: var(--color-primary);
	}

	&_prev,
	&_page,
	&_next-nav,
	&_end {
		svg, 
		span {
			transform: translate(-50%, -50%);
		}
	}

	&_next,
	&_start,
	&_prev-nav {
		svg {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&_inactive-nav {
		border-color: var(--color-dark-s);
		svg {
			path {
				fill: var(--color-dark-s);
			}
		}
	}
}

.h3-title {
	font-weight: var(--fw-400);
	font-size: var(--fz-35);
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	&_center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	&_light {
		color: var(--color-light-xl);
	}
}

.h4-title {
	font-weight: var(--fw-400);
	font-size: var(--fz-20);
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);

	&_primary {
		color: var(--color-primary)
	}
}

.our-friends {
	background-color: var(--color-light-l);
	&__container {
	}

	&__section-title {
		margin-bottom: 60px;
		max-width: 400px;
	}

	&__slider {
		margin-bottom: 60px;
	}

	&__button-wrapper {
		text-align: center;
	}

	&__button {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0 -20px 60px;
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 20px;
	}

	&__pagination {
	}

	*:last-child {
		margin-bottom: 0;
	}
}

.pet-card {
	
	&__content {
		cursor: pointer;
		border-radius: 9px;
		background-color: var(--color-light-s);
		transition: all .3s ease 0s;
		&:hover {
			background-color: var(--color-light-xl);
			.pet-card__button {
				background-color: var(--color-primary-light);
				border-color: var(--color-primary-light);
			}
			.pet-card__image {
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			}
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:first-child {
			position: relative;
			padding-top: 100%;
		}
		&:last-child {
			gap: 30px;
			padding: 30px 0;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		transition: all .3s ease 0s;
	}

	&__title {
		font-weight: var(--fw-400);
		font-size: var(--fz-20);
		line-height: 23px;
		letter-spacing: 0.06em;
		color: var(--color-dark-l);
	}

	&__button {
	}
}
