@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 14px 44px;
	background-color: transparent;
	color: var(--color-dark-3xl);
	border: 1px solid transparent;
	border-radius: 100px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: all .3s ease 0s;
	letter-spacing: 0.06em;
	font-weight: var(--fw-400);
	line-height: 130%;
	font-size: var(--fz-17);

	&_default {
		background-color: var(--color-primary);
		border: 1px solid var(--color-primary);
	}

	&_donation {
		font-size: var(--fz-20);
		line-height: 115%;
		color: var(--color-dark-l);
		padding: 10px 15px 10px 60px;
		background-color: var(--color-primary);
		border: 0;
		border-radius: 9px;
		@include adaptive-value('font-size', 20, 15, 768, 320, 2);
		@include adaptive-value('padding-top', 10, 13, 768, 320, 2);
		@include adaptive-value('padding-bottom', 10, 13, 768, 320, 2);
		@media (max-width: em($breakpoint768)) {
			line-height: 110%;
		}
	}

	&_light {
		padding: 13px 43px;
		background-color: var(--color-light-s);
		border: 2px solid var(--color-primary);
	}

	&_default:hover, 
	&_donation:hover {
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-light);
	} 
}

.nav-btn {
	position: relative;
	display: inline-block;
	height: 52px;
	width: 52px;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border: 2px solid var(--color-primary);
	border-radius: 100%;
	font-weight: var(--fw-400);
	font-size: var(--fz-20);
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: all .3s ease 0s;

	&_close {
		border-color: var(--color-primary);
	}

	&[disabled] {
		cursor: default;
		border-color: var(--color-dark-s);
		svg {
			path {
				fill: var(--color-dark-s);
			}
		}
	}

	&:not([disabled]):hover {
		background-color: var(--color-primary-light);
		border-color: var(--color-primary-light);
	}

	svg,
	span {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&_page {
	}

	&_close,
	&_prev,
	&_page,
	&_next-nav,
	&_end {
		svg, 
		span {
			transform: translate(-50%, -50%);
		}
	}

	&_next,
	&_start,
	&_prev-nav {
		svg {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&_start:not([disabled]):active,
	&_prev-nav:not([disabled]):active,
	&_page:not([disabled]):active,
	&_next-nav:not([disabled]):active,
	&_end:not([disabled]):active {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
	}
}

.h3-title {
	font-weight: var(--fw-400);
	font-size: var(--fz-35);
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);

	@media (max-width: em($breakpoint576)) {
		font-size: var(--fz-25);
	}

	&_big {
		@media (max-width: em($breakpoint576)) {
			font-size: var(--fz-35);
		}
	}
	&_center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	&_light {
		color: var(--color-light-xl);
	}
	&_dark {
		color: var(--color-dark);;
	}
}

.h4-title {
	font-weight: var(--fw-400);
	font-size: var(--fz-20);
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	@media (max-width: em($breakpoint576)) {
		font-size: var(--fz-15);
		line-height: 110%;
	}
	&_primary {
		color: var(--color-primary);
		@media (max-width: em($breakpoint768)) {
			font-size: var(--fz-20);
		}
	}
	
}

.our-friends {
	background-color: var(--color-light-l);
	&__container {
	}

	&__section-title {
		max-width: 400px;
		&_small-indent {
			@media (max-width: em($breakpoint992)) {
				margin-bottom: 30px;
			}
			@media (max-width: em($breakpoint576)) {
				margin-bottom: 41px;
			}
		}
	}

	&__slider-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: em($breakpoint576)) {
			position: relative;
		}
	}

	&__slider-button-wrapper {
		@media (max-width: em($breakpoint576)) {
			position: absolute;
			bottom: 0;
			right: 58px;
			z-index: 20;
			transform: translateY(100%);
			&:first-child {
				left: 58px;
			}
		}
	}

	&__slider-button-prev {
	}

	&__slider-button-next {
	}
	
	&__slider {
	}

	&__button-wrapper {
		text-align: center;
		@media (max-width: em($breakpoint576)) {
			margin-top: 94px;
		}
	}

	&__button {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 60px -20px;
		@media (max-width: em($breakpoint992)) {
			padding: 0 64px;
		}
		@media (max-width: em($breakpoint576)) {
			padding: 0 15px;
			justify-content: center;
		}
		&_small-indent {
			@media (max-width: em($breakpoint992)) {
				margin: 0 -20px 40px;
			}
			@media (max-width: em($breakpoint576)) {
				margin: 0 -20px 42px;
			}
		}
	}

	
	&__item {
		flex: 0 1 25%;
		padding: 0 20px;
		@media (max-width: em($breakpoint992)) {
			flex-basis: 50%;
		}
		@media (max-width: em($breakpoint576)) {
			flex-basis: auto;
		}
	}

	&__pagination {
	}
}

.pet-card {
	
	&__content {
		cursor: pointer;
		border-radius: 9px;
		background-color: var(--color-light-s);
		transition: all .3s ease 0s;
		&:hover {
			box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
			background-color: var(--color-light-xl);
			.pet-card__button {
				background-color: var(--color-primary-light);
				border-color: var(--color-primary-light);
			}
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:last-child {
			gap: 30px;
			padding: 30px 0;
		}
	}

	&__image {
		width: 100%;
		height: auto;
		max-width: 270px;
		object-fit: contain;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		@media (max-width: em($breakpoint992)) {
			max-width: none;
		}
		@media (max-width: em($breakpoint768)) {
			max-width: 270px;
		}
	}

	&__title {
		font-weight: var(--fw-400);
		font-size: var(--fz-20);
		line-height: 23px;
		letter-spacing: 0.06em;
		color: var(--color-dark-l);
	}

	&__button {
	}
}
