@use "sass:math";

// Функции и переменные
@import 'base/variables';
@import 'base/functions';

:root {
	// Шрифт по умолчанию
	--fontFamily: "Georgia";

	--fontFamilyArial: "Arial";

	// font-weight. prefix: --fw-
	--fw-400: 400;

	// colors. prefix: --color-
	--color-light-xl: #FFFFFF;
	--color-light-l: #F6F6F6;
	--color-light-s: #FAFAFA;

	--color-dark-s: #CDCDCD;
	--color-dark-m: #B2B2B2;
	--color-dark-l: #545454;
	--color-dark-xl: #4C4C4C;
	--color-dark-2xl: #444444;
	--color-dark-3xl: #292929;

	--color-primary: #F1CDB3;
	--color-primary-light: #FDDCC4;


	// line-height. prefix: --lh-
	
	// letter-spacing. prefix: --ls-

	// font-size. prefix: --fz-
	--fz-12: 12px;
	--fz-13: 13px;
	--fz-15: 15px;
	--fz-17: 17px;
	--fz-20: 20px;
	--fz-32: 32px;
	--fz-35: 35px;
}

$containerWidth: 1200;

$containerPaddingDefault: 80;
$containerSidePaddingDefault: math.div($containerPaddingDefault, 2);

$containerPaddingL: 60;
$containerSidePaddingXS: math.div($containerPaddingL, 2);

$containerPaddingM: 20;
$containerSidePaddingM: math.div($containerPaddingM, 2);

// Обнуление, общие параметры
@import 'base/reset';

::-webkit-scrollbar {
	width: 0;
}

// Оболочка
html {
	scroll-behavior: smooth;
	font-size: $defaultFZ + px;
}

body {
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка
.container {
	max-width: ($containerWidth + $containerPaddingDefault) + px;
	width: 100%;
	margin: 0 auto;
	padding: 0 ($containerSidePaddingDefault + px);
}

.vertical-indent {
	&_s {
		padding-top: 40px;
		padding-bottom: 0px;
	}
	&_m {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}