.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 14px 44px;
  background-color: transparent;
  color: var(--color-dark-3xl);
  border: 1px solid transparent;
  border-radius: 100px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.06em;
  font-weight: var(--fw-400);
  line-height: 130%;
  font-size: var(--fz-17);
}
.btn_default {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn_donation {
  font-size: var(--fz-20);
  line-height: 115%;
  color: var(--color-dark-l);
  padding: 10px 15px 10px 60px;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 9px;
}
@media (max-width: 768px) {
  .btn_donation {
    font-size: calc(
                    15px + 5 * ((100vw - 320px) / 448)
            );
  }
}
@media (max-width: 768px) {
  .btn_donation {
    padding-top: calc(
                    13px + -3 * ((100vw - 320px) / 448)
            );
  }
}
@media (max-width: 768px) {
  .btn_donation {
    padding-bottom: calc(
                    13px + -3 * ((100vw - 320px) / 448)
            );
  }
}
@media (max-width: 47.99875em) {
  .btn_donation {
    line-height: 110%;
  }
}
.btn_light {
  padding: 13px 43px;
  background-color: var(--color-light-s);
  border: 2px solid var(--color-primary);
}
.btn_default:hover, .btn_donation:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.nav-btn {
  position: relative;
  display: inline-block;
  height: 52px;
  width: 52px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease 0s;
}
.nav-btn_close {
  border-color: var(--color-primary);
}
.nav-btn[disabled] {
  cursor: default;
}
.nav-btn:not([disabled]):hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.nav-btn svg,
.nav-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.nav-btn_close svg,
.nav-btn_close span, .nav-btn_prev svg,
.nav-btn_prev span, .nav-btn_page svg,
.nav-btn_page span, .nav-btn_next-nav svg,
.nav-btn_next-nav span, .nav-btn_end svg,
.nav-btn_end span {
  transform: translate(-50%, -50%);
}
.nav-btn_next svg, .nav-btn_start svg, .nav-btn_prev-nav svg {
  transform: translate(-50%, -50%) rotate(180deg);
}
.nav-btn_inactive-nav {
  border-color: var(--color-dark-s);
}
.nav-btn_inactive-nav svg path {
  fill: var(--color-dark-s);
}
.nav-btn_start:not([disabled]):active, .nav-btn_prev-nav:not([disabled]):active, .nav-btn_page:not([disabled]):active, .nav-btn_next-nav:not([disabled]):active, .nav-btn_end:not([disabled]):active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.h3-title {
  font-weight: var(--fw-400);
  font-size: var(--fz-35);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
@media (max-width: 35.99875em) {
  .h3-title {
    font-size: var(--fz-25);
  }
}
@media (max-width: 35.99875em) {
  .h3-title_big {
    font-size: var(--fz-35);
  }
}
.h3-title_center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h3-title_light {
  color: var(--color-light-xl);
}
.h3-title_dark {
  color: var(--color-dark);
}

.h4-title {
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
@media (max-width: 35.99875em) {
  .h4-title {
    font-size: var(--fz-15);
    line-height: 110%;
  }
}
.h4-title_primary {
  color: var(--color-primary);
}
@media (max-width: 47.99875em) {
  .h4-title_primary {
    font-size: var(--fz-20);
  }
}

.our-friends {
  background-color: var(--color-light-l);
}
.our-friends__section-title {
  max-width: 400px;
}
@media (max-width: 61.99875em) {
  .our-friends__section-title_small-indent {
    margin-bottom: 30px;
  }
}
@media (max-width: 35.99875em) {
  .our-friends__section-title_small-indent {
    margin-bottom: 41px;
  }
}
.our-friends__button-wrapper {
  text-align: center;
}
.our-friends__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -20px 60px;
}
@media (max-width: 61.99875em) {
  .our-friends__list {
    padding: 0 64px;
  }
}
@media (max-width: 35.99875em) {
  .our-friends__list {
    padding: 0 15px;
  }
}
@media (max-width: 61.99875em) {
  .our-friends__list_small-indent {
    margin: 0 -20px 40px;
  }
}
@media (max-width: 35.99875em) {
  .our-friends__list_small-indent {
    margin: 0 -20px 42px;
  }
}
.our-friends__item {
  flex: 0 1 25%;
  padding: 0 20px;
}
@media (max-width: 61.99875em) {
  .our-friends__item {
    flex-basis: 50%;
  }
  .our-friends__item:nth-child(7), .our-friends__item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 35.99875em) {
  .our-friends__item {
    flex-basis: 100%;
  }
  .our-friends__item:nth-child(4), .our-friends__item:nth-child(5), .our-friends__item:nth-child(6) {
    display: none;
  }
}
.pet-card__content {
  cursor: pointer;
  border-radius: 9px;
  background-color: var(--color-light-s);
  transition: all 0.3s ease 0s;
}
.pet-card__content:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: var(--color-light-xl);
}
.pet-card__content:hover .pet-card__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.pet-card__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pet-card__row:last-child {
  gap: 30px;
  padding: 30px 0;
}
.pet-card__image {
  width: 100%;
  height: auto;
  max-width: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.pet-card__title {
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}