.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 14px 44px;
  background-color: transparent;
  color: var(--color-dark-3xl);
  border: 1px solid transparent;
  border-radius: 100px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.06em;
  font-weight: var(--fw-400);
  line-height: 130%;
  font-size: var(--fz-17);
}
.btn_default {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn_donation {
  font-size: var(--fz-20);
  line-height: 115%;
  color: var(--color-dark-l);
  padding: 10px 15px 10px 60px;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 9px;
}
.btn_light {
  padding: 13px 43px;
  background-color: var(--color-light-s);
  border: 2px solid var(--color-primary);
}
.btn_default:hover, .btn_donation:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.nav-btn {
  position: relative;
  display: inline-block;
  height: 52px;
  width: 52px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease 0s;
}
.nav-btn:not([disabled]):hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.nav-btn svg,
.nav-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.nav-btn_page {
  background-color: var(--color-primary);
}
.nav-btn_prev svg,
.nav-btn_prev span, .nav-btn_page svg,
.nav-btn_page span, .nav-btn_next-nav svg,
.nav-btn_next-nav span, .nav-btn_end svg,
.nav-btn_end span {
  transform: translate(-50%, -50%);
}
.nav-btn_next svg, .nav-btn_start svg, .nav-btn_prev-nav svg {
  transform: translate(-50%, -50%) rotate(180deg);
}
.nav-btn_inactive-nav {
  border-color: var(--color-dark-s);
}
.nav-btn_inactive-nav svg path {
  fill: var(--color-dark-s);
}

.h3-title {
  font-weight: var(--fw-400);
  font-size: var(--fz-35);
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.h3-title_center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h3-title_light {
  color: var(--color-light-xl);
}

.h4-title {
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.h4-title_primary {
  color: var(--color-primary);
}

.our-friends {
  background-color: var(--color-light-l);
}
.our-friends__section-title {
  margin-bottom: 60px;
  max-width: 400px;
}
.our-friends__slider {
  margin-bottom: 60px;
}
.our-friends__button-wrapper {
  text-align: center;
}
.our-friends__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -20px 60px;
}
.our-friends__item {
  flex: 0 1 25%;
  padding: 0 20px;
}
.our-friends *:last-child {
  margin-bottom: 0;
}

.pet-card__content {
  cursor: pointer;
  border-radius: 9px;
  background-color: var(--color-light-s);
  transition: all 0.3s ease 0s;
}
.pet-card__content:hover {
  background-color: var(--color-light-xl);
}
.pet-card__content:hover .pet-card__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.pet-card__content:hover .pet-card__image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.pet-card__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pet-card__row:first-child {
  position: relative;
  padding-top: 100%;
}
.pet-card__row:last-child {
  gap: 30px;
  padding: 30px 0;
}
.pet-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition: all 0.3s ease 0s;
}
.pet-card__title {
  font-weight: var(--fw-400);
  font-size: var(--fz-20);
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}