.header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header_light {
  position: static;
  background-color: var(--color-light-xl);
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title-logo-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  font-weight: var(--fw-400);
  font-size: var(--fz-32);
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  transition: color 0.3s ease 0s;
}
.header__title-logo-link:hover {
  color: var(--color-primary-light);
}
.header__title-logo-link:hover span {
  color: var(--color-dark-m);
}
.header__title-logo-link span {
  font-family: var(--fontFamilyArial);
  font-weight: var(--fw-400);
  font-size: var(--fz-13);
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  transition: color 0.3s ease 0s;
}
.header__title-logo-link_dark {
  color: var(--color-dark-l);
}
.header__title-logo-link_dark span {
  color: var(--color-dark-3xl);
}
.header-nav-menu_dark .header-nav-menu__item-link {
  color: var(--color-dark-l);
}
.header-nav-menu_dark .header-nav-menu__item:hover .header-nav-menu__item-link {
  color: var(--color-dark-3xl) !important;
}
.header-nav-menu_dark .header-nav-menu__item:hover:nth-child(2) .header-nav-menu__item-link {
  color: var(--color-dark-l) !important;
  cursor: default;
}
.header-nav-menu__list {
  display: flex;
  align-items: center;
}
.header-nav-menu__list .active {
  border-bottom: 3px solid var(--color-primary);
}
.header-nav-menu__list .active .header-nav-menu__item-link {
  color: var(--color-light-s);
  cursor: default;
}
.header-nav-menu__list .active_dark .header-nav-menu__item-link {
  color: var(--color-dark-l);
}
.header-nav-menu__item {
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease 0s;
}
.header-nav-menu__item + .header-nav-menu__item {
  margin-left: 35px;
}
.header-nav-menu__item:active {
  border-bottom: 3px solid var(--color-primary);
}
.header-nav-menu__item:hover:not(:first-child) .header-nav-menu__item-link {
  color: var(--color-light-s);
}
.header-nav-menu__item-link {
  font-family: var(--fontFamilyArial);
  font-weight: var(--fw-400);
  font-size: var(--fz-15);
  line-height: 160%;
  color: var(--color-dark-s);
  transition: all 0.3s ease 0s;
}

.footer {
  background: url("../../shelter/img/footer/bg.jpg") 0 0/100% 100% no-repeat;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 303px;
}
.footer__col:nth-child(2) {
  margin-left: -20px;
}
.footer__col:last-child {
  margin-top: auto;
}
.footer__col:not(:last-child) {
  padding: 16px 0 60px;
}
.footer__link-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__link {
  will-change: transform;
  transition: transform 0.3s ease-out 0s;
}
.footer__link:hover {
  transform: scale(1.04);
}
.footer__image {
  max-width: 300px;
  max-height: 310px;
}
.footer *:last-child {
  margin-bottom: 0;
}

.main-screen {
  background: url("../../shelter/img/main-screen/bg.jpg") 0 0/100% 100% no-repeat;
}
.main-screen__container {
  display: flex;
  flex-direction: column;
  min-height: 908px;
}
.main-screen__content {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-screen__info-block {
  margin-bottom: 243px;
}
.main-screen__image {
  display: inline-block;
  width: 58.167%;
  height: auto;
}

.info-block {
  max-width: 460px;
}
.info-block__title {
  max-width: 310px;
  font-weight: var(--fw-400);
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
  margin-bottom: 42px;
}
.info-block__text {
  font-family: var(--fontFamilyArial);
  font-weight: var(--fw-400);
  font-size: var(--fz-15);
  line-height: 160%;
  color: var(--color-dark-s);
  margin-bottom: 42px;
}
.info-block *:last-child {
  margin-bottom: 0;
}

.about-the-shelter {
  background-color: var(--color-light-xl);
}
.about-the-shelter__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.about-the-shelter__section-title {
  margin-bottom: 25px;
  max-width: 370px;
}
.about-the-shelter__text {
  font-family: var(--fontFamilyArial);
  font-weight: var(--fw-400);
  font-size: var(--fz-15);
  line-height: 160%;
  color: var(--color-dark-xl);
  margin-bottom: 25px;
  max-width: 430px;
}
.about-the-shelter *:last-child {
  margin-bottom: 0;
}

.friends-slider {
  position: relative;
}
.friends-slider__wrapper {
  display: flex;
  margin: 0 -3.75%;
  padding: 0 8.75%;
}
.friends-slider__slide {
  flex: 0 1 33.3333%;
  padding: 0 4.167%;
}
.friends-slider__button-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.friends-slider__button-wrapper_prev {
  left: 0;
}
.friends-slider__button-wrapper_next {
  right: 0;
}
.help {
  background-color: var(--color-light-xl);
}
.help__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  text-align: center;
}
.help__section-title {
  max-width: 310px;
}
.help-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.help-items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help-items__icon {
  margin-bottom: 30px;
}
.donation {
  background-color: var(--color-light-l);
}
.donation__row {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.donation__col {
  display: flex;
  flex-direction: column;
}
.donation__col:last-child {
  flex: 0 1 380px;
}
.donation__section-title {
  margin-bottom: 20px;
  max-width: 300px;
}
.donation__subtitle {
  font-weight: var(--fw-400);
  font-size: var(--fz-15);
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 20px;
}
.donation__button {
  position: relative;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.donation__button::before {
  content: url("../../shelter/img/donation/credit-card.svg");
  position: absolute;
  left: 15px;
}
.donation__text {
  font-family: var(--fontFamilyArial);
  font-style: italic;
  font-weight: var(--fw-400);
  font-size: var(--fz-12);
  line-height: 18px;
  color: var(--color-dark-m);
}
.donation *:last-child {
  margin-bottom: 0;
}