.footer {
  background: url("/shelter/img/footer/bg.jpg") 0 0/100% 100% no-repeat;
  margin-top: auto;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 303px;
}
.footer__col:nth-child(2) {
  margin-left: -20px;
}
.footer__col:last-child {
  margin-top: auto;
}
.footer__col:not(:last-child) {
  padding: 16px 0 60px;
}
.footer__link-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__link {
  will-change: transform;
  transition: transform 0.3s ease-out 0s;
}
.footer__link:hover {
  transform: scale(1.04);
}
.footer *:last-child {
  margin-bottom: 0;
}

.header {
  padding: 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header_light {
  position: static;
  background-color: #FFFFFF;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
.header__title-logo-link {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.header__title-logo-link_dark {
  color: #545454;
}
.header__subtitle {
  font-family: var(--fontFamilyArial);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.header__subtitle_dark {
  color: #292929;
}
.header-nav-menu_dark .header-nav-menu__item-link {
  color: #292929;
}
.header-nav-menu_dark .header-nav-menu__item:hover .header-nav-menu__item-link {
  color: #F1CDB3 !important;
}
.header-nav-menu__list {
  display: flex;
  align-items: center;
}
.header-nav-menu__item {
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease 0s;
}
.header-nav-menu__item + .header-nav-menu__item {
  margin-left: 35px;
}
.header-nav-menu__item:nth-child(1), .header-nav-menu__item:active {
  border-bottom: 3px solid #F1CDB3;
}
.header-nav-menu__item:hover:not(:first-child) .header-nav-menu__item-link {
  color: #FAFAFA;
}
.header-nav-menu__item-link {
  font-family: var(--fontFamilyArial);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  transition: all 0.3s ease 0s;
}

.pagination {
  font-size: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}