@import '../base/variables';
@import '../base/functions';
@import '../layout/footer';
@import '../layout/header';

// main-screen
.main-screen {
	background: url('/shelter/img/main-screen/bg.jpg') 0 0/100% 100% no-repeat;
	&__container {
		display: flex;
		flex-direction: column;
		min-height: 908px;
	}

	&__content {
		flex: 1 0 100%;
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	&__info-block {
		margin-bottom: 243px;
	}

	&__image {
		display: inline-block;
		width: 58.167%;
		height: auto;
	}
}

.info-block {
	max-width: 460px;

	&__title {
		max-width: 310px;
		font-weight: 400;
		font-size: 44px;
		line-height: 130%;
		color: #FFFFFF;
		margin-bottom: 42px;
	}

	&__text {
		font-family: var(--fontFamilyArial);
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #CDCDCD;
		margin-bottom: 42px;
	}

	&__button {
		
	}

	*:last-child {
		margin-bottom: 0;
	}
}
// /main-screen


// section about-the-shelter
.about-the-shelter {
	background-color: #FFFFFF;
	&__container {
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10%;
	}

	&__col {
	}

	&__image {
	}

	&__section-title {
		margin-bottom: 25px;
		max-width: 370px;
	}

	&__text {
		font-family: var(--fontFamilyArial);
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #4C4C4C;
		margin-bottom: 25px;
		max-width: 430px;
	}

	*:last-child {
		margin-bottom: 0;
	}
}
// /section about-the-shelter


// section our friends
.friends-slider {
	position: relative;
	&__wrapper {
		display: flex;
		margin: 0 -3.75%;
		padding: 0 8.75%;
	}

	&__slide {
		flex: 0 1 33.3333%;
		padding: 0 4.167%;
	}

	&__button-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&_prev {
			left: 0;
		}
		&_next {
			right: 0;
		}
	}

	&__button-prev {
	}

	&__button-next {
	}
}
// /section our friends


// section help
.help {
	background-color: #FFFFFF;

	&__container {
	}

	&__section-title {
		max-width: 310px;
		margin-bottom: 60px;
	}

	&__list {
	}
}

.help-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 120px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		margin-bottom: 30px;
	}

	&__title {
	}
}
// /section help


// section donation
.donation {
	background-color: #F6F6F6;
	&__container {
	}

	&__row {
		display: flex;
		justify-content: center;
		gap: 30px;
		align-items: center;
	}

	&__col {
		display: flex;
		flex-direction: column;
		&:last-child {
			flex: 0 1 380px;
		}
	}

	&__image {
	}

	&__section-title {
		margin-bottom: 20px;
		max-width: 300px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: #545454;
		margin-bottom: 20px;
	}

	&__button {
		position: relative;
		margin-bottom: 20px;
		width: fit-content;
		&::before {
			content: url('/shelter/img/donation/credit-card.svg');
			position: absolute;
			left: 15px;
		}
	}

	&__text {
		font-family: var(--fontFamilyArial);
		font-style: italic;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #B2B2B2;
	}
	
	*:last-child {
		margin-bottom: 0;
	}
}
// /section donation
