@import '../base/variables';
@import '../base/functions';
@import '../layout/footer';
@import '../layout/header';


.pagination {
	font-size: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
	
	&__item {
	}
}