@import '../base/variables';
@import '../base/functions';
@import '../layout/header';
@import '../layout/footer';

.pagination {
	font-size: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
	
	&__item {
	}

	&_btn {
		
	}
	@media (max-width: em($breakpoint576)) {
		gap: 10px;
	}
}